# Decision Trees, Random Forest

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

In [9]:
# Read data from the csv file
df = pd.read_csv('C:/Users/Faiza Ali/Downloads/AI and Data Science/titanic_clean.csv')
df

,PassengerId,Survived,Pclass,Sex,SibSp,Parch,Embarked,Title,GrpSize,FareCat,AgeCat
0,1,0,3,male,1,0,S,Mr,couple,0-10,16-32
1,2,1,1,female,1,0,C,Mrs,couple,70-100,32-48
2,3,1,3,female,0,0,S,Miss,solo,0-10,16-32
3,4,1,1,female,1,0,S,Mrs,couple,40-70,32-48
4,138,0,1,male,1,0,S,Mr,couple,40-70,32-48
...,...,...,...,...,...,...,...,...,...,...,...
886,885,0,3,male,0,0,S,Mr,solo,0-10,16-32
887,887,0,2,male,0,0,S,Rare Title,solo,Oct-25,16-32
888,888,1,1,female,0,0,S,Miss,solo,25-40,16-32
889,890,1,1,male,0,0,C,Mr,solo,25-40,16-32
890,891,0,3,male,0,0,Q,Mr,solo,0-10,16-32

In [10]:
# Data cleaning and preprocessing
## Convert categorical variable to one-hot vectors
df_OneHot = pd.get_dummies(df, columns=['Pclass', 'Sex', 'Embarked', 'Title', 'GrpSize', 'FareCat', 'AgeCat'])
df = df_OneHot
df

,PassengerId,Survived,SibSp,Parch,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,...,FareCat_100+,FareCat_25-40,FareCat_40-70,FareCat_70-100,FareCat_Oct-25,AgeCat_0-16,AgeCat_16-32,AgeCat_32-48,AgeCat_48-64,AgeCat_64+
0,1,0,1,0,0,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
1,2,1,1,0,1,0,0,1,0,1,...,0,0,0,1,0,0,0,1,0,0
2,3,1,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,4,1,1,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,1,0,0
4,138,0,1,0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,885,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
887,887,0,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
888,888,1,0,0,1,0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,0
889,890,1,0,0,1,0,0,0,1,1,...,0,1,0,0,0,0,1,0,0,0
890,891,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0

In [11]:
# Remove label and extra features
X = df.drop(['Survived','PassengerId'],axis=1)
# Target/prediction variable
Y = df['Survived']
X
Y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    0
888    1
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [5]:
# Split data to train and test-set
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.3, random_state=100,shuffle=True)

In [6]:
# Train the model
clf_dt = DecisionTreeClassifier(criterion='gini')
clf_dt.fit(xtrain, ytrain)

DecisionTreeClassifier()

In [7]:
# Get predictions for testset
dt_pred = clf_dt.predict(xtest)
dt_pred_prb = clf_dt.predict_proba(xtest)[:, 1]

In [8]:
# Calculate accuracy
accuracy_dt = accuracy_score(ytest,dt_pred)
print("Accuracy: {}".format(accuracy_dt))

Accuracy: 0.7835820895522388